p {
	font-size: 1.5em;
}

.content-div {
	margin: auto;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 12%;
}

.center-page {
	/*position: relative;*/
	margin: auto;
	/*text-align: center;*/
	height: 100vh;
	width: 750px;
}
