.nav {
	width: 100%;
	justify-content: center;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.nav-item {
	padding-left: 15px;
	padding-right: 15px;
}

.header-link {
	font-size: 18pt;
}

.ico {
	width: 52px;
	height: 52px;
	margin-left: 26px;
	margin-right: 26px;
}

.footer-row {
	padding-top: 30px;
	padding-bottom: 30px;
}

.page-footer {
	position: relative;
	margin: auto;
	text-align: center;
}
