@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.App {
	text-align: center;
	background-color: #1e1e1e;
	color: #d4d4d4;
	font-family: "Lato", sans-serif;
	width: 100%;
	height: 100%;
}
