body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  p {
    font-size: 1.5em;
  }

.center-page {
    /*position: relative;*/
    margin: auto;
    /*text-align: center;*/
    height: 100vh;
    width: 750px;
}

.nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-item {
  padding-left: 15px;
  padding-right: 15px;
}

.ico {
    width: 52px;
    height: 52px;
    margin-left: 26px;
    margin-right: 26px;
}  

.footer-row {
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-footer {
  position: relative;
  margin: auto;
  text-align: center;
}

.content-div {
  margin: auto;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 12%;
}